body {
    font-family: 'Roboto', sans-serif;
}
body {color: #434455;background-color: white;}
p,h1,h2,h3,h4,h5,h6 {margin: 0;}
a {text-decoration: none;}
ol,li {list-style: none;
margin: 0;
padding:0;}
ul {margin: 0;
padding: 0;}
button {cursor: pointer;}
img {display: block}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
    
.header-container {display: flex;
    align-items: center;
}

.header-navigation { display: flex;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #4D5AE5;;
    font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
        margin-right: 76px;
        padding: 24px 0;
}

.logo-part {color: #2E2F42;}

.header-list {display: flex;
gap: 40px;
}

.header-item {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.50;
        letter-spacing: 0.02em;
        text-align: left;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:hover {color:#404BBF}
.header-item:focus {color:#404BBF;}

.studio{
position: relative;
    color: #404bbf;

}

.studio::after {
    content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

.header-adress {font-style: normal;
}
.header-adress-list {display: flex;
gap: 40px;
}

.header-adress-item {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        flex-grow: 1;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adress-item:hover {color:#404BBF}
.header-adress-item:focus {
    color: #404BBF;
}

.main {}
.section {padding: 120px 0;}

.main-section-one {background-color:  #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/bc-one.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.container-one {}
.main-one-text {
    color: white;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin: auto;
        margin-bottom: 48px;
}

.order-service-button { 
    color:#ffffff;
    background-color:#4D5AE5;
     font-size: 16px;
        font-weight: 500;
        line-height: 1.50;
        letter-spacing: 0.04em;
        text-align: left;
        cursor: pointer;
        border-radius: 4px;;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: none;
        padding: 16px 32px;
        display: block;
        min-width: 169px;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover {background-color: #404BBF;}
.order-service-button:focus {background-color:#404BBF
}

.main-section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-list-two {
    display: flex;
    justify-content: center;
margin-bottom: 8px;}

.section-two-list {display: flex;
gap: 24px;
}

.section-two-item {width: calc((100% - 72px) / 4);}


.two-icon-list {
    display: flex;
    justify-content: center;
}

.icon-list-two{
width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
}


.two-icon-icon {

}

.main-two-lead {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
        text-align: left;
        margin-bottom: 8px;
}

.main-lead-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}

.main-section-three {background-color: #F4F4FD;
text-transform: capitalize;
padding: 120px 0;}

.section-three-subtitle {
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 72px;
}

.section-three-list {display: flex;
gap: 24px;
}

.section-three-item {background-color: white;
    border-radius: 0px 0px 4px 4px;
    width: calc(100% - 72px) / 4;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.name-work {padding: 32px 0;
}

.three-name {
    color:#2E2F42 ;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}

.three-list-text {
    color:#434455 ;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
.icon-list {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;

}

.icon-item {
    width: 40px ;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon {
    fill: #f4f4fd;
}

.icon-link:hover {background-color: #404BBF;}
.icon-link:focus {
    background-color: #404BBF;
}

.section-four {
padding-top: 120px;
padding-bottom: 120px;}


.four-subtitle {
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 72px;}

.section-four-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin: 0 auto;
    padding: 0;
}


.section-four-item {width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-item:hover .item-payment-text
{transform: translateY(0);}
.section-four-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}



.four-item-wrap {
    position: relative;
    overflow: hidden;
}


.item-payment-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    padding: 40px 32px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}


.name-img {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.four-name {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        margin-bottom: 8px;
}

.four-list-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}

.footer {background-color: #2E2F42;
padding: 100px 0;}

.container-footer {
    display: flex;
    align-items: baseline;

}

.footer-logo-div{
display: block;
margin-right: 120px;
}
.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
}
.footer-logo-part {color: #F4F4FD; 
}

.footer-text {
    color:#F4F4FD; ;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        max-width: 264px;
}

.footer-social-media{
    display: block;

}
.footer-media {
    display: flex;
    margin-bottom: 16px;
    color: #ffffff;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer-icon-list {
display: flex;
justify-content: center;
gap: 16px;}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;        
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.footer-icon-icon {fill:  #F4F4FD;}

.footer-icon-link:hover {background-color: #31D0AA;}
.footer-icon-link:focus {background-color: #31D0AA;}

.footer-subscribe {
    margin-left: 80px;
}

.text-subscribe {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
}

.form-footer {
    display: flex;
    gap: 24px;
}
.label-email {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5px;
        letter-spacing: 0.02em;
        color:#ffffff;
        margin-bottom: 16px;
}
.subscribe-email {
    border: 1px solid #ffffff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #2e2f42;
        font-weight: 400;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #ffffff;
            padding-left: 16px;
            background-color: transparent;
}
.subscribe-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
padding: 16px 8px;
}
    
.button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #ffffff;
            cursor: pointer;
            border: none;
}
.img-send {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #ffffff;
    margin-left: 16px;
}
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.is-open {
    opacity: 1;
        visibility: visible;
        pointer-events: auto;
}
.modal {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
}
.modal-close {
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    color: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-close:hover {
    background-color: #4D5AE5;
    background-color: #404bbf;
    border: none;
}
.modal-close:focus {
    background-color: #404BBF;
border: none;}
.modal-close:focus + .button-close {fill: #4D5AE5;}
.modal-close:hover .button-close {
    fill: #ffffff;
}

.modal-close:focus .button-close {
    fill: #ffffff;
}
.button-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}
.form {}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);;
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition-duration: 250ms;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-input:focus {
    border-color: #4d5ae5;
}
.form-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-field {
margin-bottom: 8px;
}
.textarea {margin-bottom: 16px;}
.modal-label{
    display: block;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}
.modal-input-wrap {
    position: relative;
    margin-bottom: 8px;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
    width: 100%;
        min-height: 120px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding: 8px 16px;
        outline: transparent;
        transition-duration: 250ms;
        resize: none;
        font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color:rgba(46, 47, 66, 0.4);
            background-color: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {border-color: #4D5AE5;}
.checkbox-policy {
    margin-left: 8px;
}
.modal-checkbox {margin-bottom: 24px;}
.checkbox-policy:focus {background-color:  #404bbf;}
.label-policy {margin-top: 16px;
font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;}

.label-user-privacy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        fill: transparent;
        margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-policy:checked + .label-policy .label-user-privacy {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}


.link-policy {
    line-height: 133%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    color: #4D5AE5;}
.button-send {
    display: block;
    margin: auto;
    font-family: "Roboto", sans-serif;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background-color: #4d5ae5;
            font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                text-align: center;
                color: #ffffff;
                border: none;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    
