body {
    font-family: 'Roboto', sans-serif;
}

body {
    color: #434455;
    background-color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.main-section-three>.container {
    width: 296px;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    padding: 16px 0;
}

.logo-part {
    color: #2E2F42;
}
.header-list {
    display: none;
}
.header-adress-list {
    display: none;
}

.header-button {
    border: none;
    background-color: transparent;
}

.header-button-icon {}


.mob-list {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.header-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    color: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-close-button:hover {
    background-color: #4D5AE5;
    background-color: #404bbf;
    border: none;
}

.header-close-button:focus {
    background-color: #404BBF;
    border: none;
}
.mob-list-navigation {
    margin-bottom: 48px;
    margin-top: 24px;
}
.mob-navigation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.mob-item {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}
.mob-item:hover {
    color: #404BBF
}

.mob-item:focus {
    color: #404BBF;
}

.mob-icon-list {
    display: flex;
        justify-content: center;
        margin-top: 8px;
        gap: 40px;
}


.mob-adress {
    font-style: normal;
    margin-bottom: 48px;
}

.mob-adress-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.mob-contact-list {

}

.mob-adress-item {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}

.mob-adress-item:hover {
    color: #4d5ae5;
}

.mob-adress-item:focus {
    color: #4d5ae5;
}
.studio-mob {
    position: relative;
    color: #404bbf;

}

.studio-mob::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
}
.main {}

/* Section one */
.section {
    padding: 96px 0;
}

.main-section-one {
    padding: 72px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/dark-bg-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
.main-section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/dark-bg-mob-2x.jpg);
}    

.container-one {}

.main-one-text {
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: auto;
    margin: 0 52px;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.order-service-button {
    color: #ffffff;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover {
    background-color: #404BBF;
}

.order-service-button:focus {
    background-color: #404BBF
}

/* Section two */
.main-section-two {
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-two-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.section-two-item {
    width: 100%;
}


.two-icon-list {
    display: flex;
    justify-content: center;
}

.icon-list-two {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
}

.two-icon-item {
    display: none;
}


.two-icon-icon {}

.main-two-lead {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
    text-transform: capitalize;
    text-align: center;
}

.main-lead-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

/* Section three */
.main-section-three {
    background-color: #F4F4FD;
    text-transform: capitalize;
}

.section-three-subtitle {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.section-three-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.section-three-item {
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.name-work {
    padding: 32px 0;
}

.three-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.three-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.icon-list {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;

}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon {
    fill: #f4f4fd;
}

.icon-link:hover {
    background-color: #404BBF;
}

.icon-link:focus {
    background-color: #404BBF;
}

/* Section four */
.section-four {
}


.four-subtitle {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.section-four-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 0;
    margin: 0 auto;
    padding: 0;
}


.section-four-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-item:hover .item-payment-text {
    transform: translateY(0);
}

.section-four-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.four-item-wrap {
    position: relative;
    overflow: hidden;
}


.item-payment-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    padding: 40px 32px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}


.name-img {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.four-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.four-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

/* Footer */
.footer {
    background-color: #2E2F42;
    padding: 96px 0;
    margin-left: 0;
    margin-right: 0;
}

.container-footer {
}

.footer-logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    max-width: 264px;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;

}

.footer-media {
    margin-bottom: 16px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.footer-icon-icon {
    fill: #F4F4FD;
}

.footer-icon-link:hover {
    background-color: #31D0AA;
}

.footer-icon-link:focus {
    background-color: #31D0AA;
}

.footer-subscribe {
    margin: 0 auto;
}

.text-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.label-email {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.subscribe-email {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2e2f42;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
    background-color: transparent;
}

.subscribe-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 8px;
}

.button-subscribe {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.img-send {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #ffffff;
    margin-left: 16px;
}

/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    /* width: 100px; */
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    color: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close:hover {
    background-color: #4D5AE5;
    background-color: #404bbf;
    border: none;
}

.modal-close:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close:focus+.button-close {
    fill: #4D5AE5;
}

.modal-close:hover .button-close {
    fill: #ffffff;
}

.modal-close:focus .button-close {
    fill: #ffffff;
}

.button-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form {}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition-duration: 250ms;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input:focus {
    border-color: #4d5ae5;
}

.form-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-field {
    margin-bottom: 8px;
}

.textarea {
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
    margin-bottom: 8px;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    transition-duration: 250ms;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.checkbox-policy {
    margin-left: 8px;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.checkbox-policy:focus {
    background-color: #404bbf;
}

.label-policy {
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label-user-privacy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-policy:checked+.label-policy .label-user-privacy {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}


.link-policy {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.button-send {
    display: block;
    margin: auto;
    font-family: "Roboto", sans-serif;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .main-section-three>.container {
        width: 584px;
    }
    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }
        .header-item {
            color: #2E2F42;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.50;
            letter-spacing: 0.02em;
            text-align: left;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .header-item:hover {
            color: #404BBF
        }
    
        .header-item:focus {
            color: #404BBF;
        }
        .studio{
    position: relative;
    color: #404bbf;

}

.studio::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;}
    
        .header-adress {
            font-style: normal;
        }
    .header-adress-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
        .header-adress-item {
            color: #434455;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
            text-align: left;
            flex-grow: 1;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .header-adress-item:hover {
            color: #404BBF
        }
    
        .header-adress-item:focus {
            color: #404BBF;
        }
    .header-button {
        display: none;
    }
    /* Section one */

    .main-section-one {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tab.jpg);
    }

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .main-section-one {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tab-2x.jpg);
            }
    .main-one-text {
        font-size: 56px;
        line-height: 1.07;
        margin: 0 120px;
        margin-bottom: 36px;
    }

    /* Section two */
    .section-two-list {
        gap: 72px 24px;
    }

    .section-two-item {
        width: calc((100% - 24px) / 2);
    }

    .main-two-lead {
        text-align: left;
    }

    /* Section four */
    .section-four-list {
        gap: 72px 24px;
    }

    .section-four-item {
        width: calc((100% - 24px) / 2);
    }

    /* Section three */
    .section-three-list {
        gap: 64px 24px;
    }

    .section-three-item {
        width: calc(100% - 24px) / 2;
    }

    .main-section-three {
    }
    .modal {
    width: 408px;
    min-height: 584px;
    }
    .container-footer {
        width: 584px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .footer-logo-div {
        display: block;
    }
    .footer-social-media {
        display: block;
    }
    .footer-icon-list {
    }
        .footer-subscribe {
            margin: 0 ;
        }
    .text-subscribe {
        align-items: start;
    }
    .form-footer {
    flex-direction: row;
    gap: 24px;
}
.label-email{
    margin-bottom: 0;
}
    }
    


@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-section-three>.container {
        width: 1158px;
    }
    .header-logo {
        margin-right: 76px;
    }
    .header-adress-list {
        flex-direction: row;
        gap: 40px;
    }
    .header-adress-item {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
    }

    /* Section one */
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .main-section-one {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/bc-one.jpg);
        }
        
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .main-section-one {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)), url(../images/dark-bg-desc-2x.jpg);
    }

    .main-one-text {
        margin: 0 auto;
        margin-bottom: 48px;
    }

    /* Section two */
    .main-section-two {
    }

    .section-two-list {
        gap: 24px;
    }

    .section-two-item {
        width: calc((100% - 72px) / 4);
    }

    .icon-list-two {
        display: flex;
    }
    .two-icon-item {
        display: flex;
    }
    .main-two-lead {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .main-lead-text {
        font-weight: 400;
    }

    /* Section three */
    .section-three-list {
        gap: 0 24px;
    }

    .section-three-item {
        width: calc(100% - 72px) / 4;
    }

    /* Section four */
    .section-four-list {
        gap: 48px 24px;
    }

    .section-four-item {
        width: calc((100% - 48px) / 3);
    }
    .footer {
        padding: 100px 0;
    }
        .container-footer {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            flex-wrap: nowrap;
            gap: 0;
            margin: 0 auto;
        }
    .footer-logo-div {
        margin-bottom: 0;
        margin-right: 120px;
    }
    .footer-social-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }
    .footer-text {
    }
    .footer-subscribe {
        margin-bottom: 0;
        margin-left: 80px;
    }
    
    .form-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}